@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playpen+Sans:wght@100;300;600&display=swap');

:root{
   --titulo:  4.4rem;
   --subtitulo: 2.4rem;
   --parrafos: 2rem;
   --tituloletra: 'Parisienne', cursive;
   --cuerpo: 'Playpen Sans', cursive;
   
}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--cuerpo);
}
.fondo{
    position: absolute;
    left:0;
    top:0;
    background-image: url('./media/fondos/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .1;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bienvenida{
    text-align: center;
}
.bannerInicio{
    display: inline-flex;
    background-color: black;
    width: 100vw;
    flex-direction: column;
}
.bannerInicio img{
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 15%;
    object-fit: cover;
    display: none;
}
.bannerInicio p{
    color: white;
}
.bannerInicio div{
    width: 70%;
    height: .15px;
    border-radius: 50%;
    border: solid white .1px;
    margin: 1px auto;
}
h1{
    font-size: var(--titulo);
    font-weight: 100;
    font-family: var(--tituloletra);
    color: white;
    margin: 0 auto;
}
h2{
    font-size: var(--subtitulo);
}
h3{
    font-size: 2.8rem;
}
h4{
    font-size: 2.4rem;
}
h5{
    font-size: 1.6rem;
    font-weight: bold;
}
p{
    font-size: 1.6rem;
}
.link{
    font-size: var(--parrafos);
    text-align: center;
    margin: 15px auto;
}
.lenceria{
    font-size: var(--parrafos);
}
.acotacion{
    font-size: 2.4rem;
}
.direcciones{
    text-align: center;
    margin: 10px auto;
    width: 50%;
    background-color: black;
    border-radius: 16px;
}
.direcciones a{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}
.contacto{
    text-align: center;
}

.contacto h3{
    font-size: 2.4rem;
}
.modelo{
    text-align: center;
}

ul{
    text-decoration: none;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
nav li{
    text-align: center;
    margin: 10px auto;
    width: 50%;
    background-color: black;
    border-radius: 16px;
    
}
.detalles{
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
}
.detalles p{
    font-size: 1.2rem;
}
.caja{
    overflow-x: scroll;
}
.galeria{
    display: flex;
    overflow-x: scroll;
    
}
.galeria img{
    width: 340px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    gap: 5px;
}
.contenedorVistaPrevia{
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 80px;
    gap: 2px;
    justify-content: center;
    margin: 5px auto;
}
.contenedorVistaPrevia img{
    border-radius: 12px;
    object-fit: cover;
    margin: 0 5px;
}